* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Aldo";
    src: url("../fonts/AldotheApache.woff");
}

body {
    font-family: "Aldo", "Helvetica", monospace;
}

p {
    margin: 5px;
}

#container {
    width: 960px;
    margin: 10px auto;
}

#principal {
    border: 2px solid #000;
}

.textbox, .choices {
    border: 1px solid #333;
}

.textbox {
    padding: 10px;
    text-align: justify;
    font-size: 2em;
}

.choices {
    font-size: 1.5em;
    text-align: center;
}

.choices ul {
    list-style: none;
}

.choices ul li {
    margin: 5px;
    border: 1px solid #333;
}

.choices ul li a {
    text-decoration: none;
    color: #222;
    padding: 3px;
    display: block;
}

.choices a:hover {
    background-color: #222;
    color: #fff;
}

img {
    width: 100%;
}

footer {
    background-color: #f3f3f3;
    text-align: center;
    margin-top: 20px;
    height: 30px;
}

footer div {
    padding: 7px;
}